*{
  box-sizing: border-box;
}

body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-y: visible;
}


.index-content{
  overflow-x: hidden;
  width: 100%;
  padding: 0 15%;
  nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }
  a{
    border-bottom: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text:{
      align: center;
      decoration: none;
      transform: uppercase;
    }
    transition: .5s;
  }
  .hover:after{
    display:block;
    text-align: center;
    content: '';
    border-bottom: solid 2px pink;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .hover:hover:after{ transform: scaleX(1); }

  .navbar{
    display: flex;
  }
  .active{
    color: pink;
  }
}

.text-welcome{
  margin: auto;
  width: 80%;
  h2{
    text-align: center;
    font:{
      weight: lighter;
    }
  }
}

.social-media{
  display: flex;
  position: fixed;
  top: 5px;
  right: 30px;
  i{
    display: block;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    transition: .3s;
  }
  i:hover{
    border: 1px solid pink;
  }
}

.btn-corner{
  position: fixed;
  right: 35px;
  bottom: 20px;
  button{
    font:{
      family: "Open Sans Condensed", sans-serif;
      size: 19px;
    }
    cursor: pointer;
    color: white;
    background-color: pink;
    border: none;
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
}

.info-part1{
  transform: translateX(1200px);
  transition: .5s;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  .text{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }
}

.info-part1-alt{
  transform: translateX(0px);
  transition: .5s;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  .text{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }
}


.info-part2{
  transform: translateX(-1200px);
  transition: .5s;
  display: flex;
  flex-direction: row-reverse;
  .text2{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }

}

.info-part2-alt{
  transform: translateX(0px);
  transition: .5s;
  display: flex;
  flex-direction: row-reverse;
  .text2{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }

}

.info-part3{
  transform: translateX(1200px);
  transition: .5s;
  display: flex;
  flex-direction: row;
  .text3{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }
}

.info-part3-alt{
  transform: translateX(0px);
  transition: .5s;
  display: flex;
  flex-direction: row;
  .text3{
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  img{
    width: 50%;
    height: auto;
  }
}


.btn{
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: pink;
  color: white;
  outline: none;
}

.btn:hover, .btn-corner:hover{
  animation: anim 1s;
}

@keyframes anim {
  0%{
    transform: scale3d(1,1,1);
  }
  35%{
    transform: scale3d(1.25,.75,1);
  }
  45%{
    transform: scale3d(.75,1,1);
  }
  60%{
    transform: scale3d(1.2,.8,1);
  }
  75%{
    transform: scale3d(1.05,.95,1);
  }
  100%{
    transform: scale3d(1,1,1);
  }
}

.menu_close{
  visibility: hidden;
  position: absolute;
  right: 13%;
  top: 15px;
}

.menu_open{
  visibility: hidden;
  position: absolute;
  right: 10%;
  top: 15px;
}

@media only screen and (max-width: 800px) {
  .menubtn1, .menubtn2 {
    display: block;
  }
  .btn-corner, .social-media{
    display: none;
  }

  .menu_open {
    visibility: visible;
  }

  .menu_close {
    visibility: hidden;
  }

  .index-content nav{
    display: flex;
    flex-direction: column;
  }

  .index-content nav a{
    padding: 10px;
    margin: auto;
  }

  .index-content .navbar{
    text-align: center;
    background-color: white;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    align-items: center;
  }
  .info-part1, .info-part1, .info-part2-alt, .info-part2, .info-part3-alt, .info-part3{
    display: flex;
    flex-direction: column;
    img{
      padding-top: 5%;
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 800px) {
  .navbar{
    display: flex;
  }
  .menubtn1, .menubtn2 {
    display: none;
  }

  .info-part1, .info-part1, .info-part3-alt, .info-part3{
    display: flex;
    flex-direction: row;
  }
}



