.services-nail{
  display: flex;
  justify-content: space-around;
  h1, h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  p{
    text-align: center;
  }
  div{
    position: relative;
    flex: 20%;
    padding: 0 10px;
  }
  div img{
    width: 50%;
    height: auto;
    vertical-align: middle;
  }
}

h1{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.prices{
  border: 2px solid pink;
  padding: 5px 30px;
  width: 80%;
  margin: 20px auto;
}

@media only screen and (max-width: 800px) {
  .services-nail{
    display: flex;
    flex-direction: column;
  }
  .prices{
    width: 100%;
  }
}